#parent {
  display: flex;
  height: 400px;
  outline: 1px solid #f24;
  box-sizing: border-box;
  justify-content: center;
}
#parent > div {
  width: 100px;
}
#left {
  align-self: stretch;
  background-color: lemonchiffon;
}
#center {
  background-color: #f24;
}
#right {
  background-color: rebeccapurple;
}
